<a href="https://colab.research.google.com/github/guptaayushi22/MPM_200_Gupta/blob/main/Session%209/assignment_9_database_management.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Packages and Scientific Computing Libraries

"""
Python Packages Overview:
-------------------------
Packages in Python are collections of modules that provide reusable code and functionality.
They allow developers to organize and share complex code libraries that can be easily imported
and used across different projects.

Key Characteristics of Packages:
- Organized hierarchically
- Contain multiple related modules
- Can be installed using package managers like pip
- Extend Python's core functionality

Three Essential Data Science Libraries:
--------------------------------------
1. Pandas (pd):
   - Primary library for data manipulation and analysis
   - Provides DataFrame: a 2D labeled data structure with columns of potentially different types
   - Key Features:
     * Reading/writing data from various sources (CSV, Excel, SQL databases)
     * Data cleaning and preprocessing
     * Complex data transformations
     * Powerful data analysis and aggregation tools

2. NumPy (np):
   - Fundamental package for scientific computing in Python
   - Introduces the ndarray (n-dimensional array) for efficient numerical operations
   - Key Features:
     * High-performance multidimensional array object
     * Mathematical and statistical functions
     * Linear algebra operations
     * Foundation for scientific and numerical computing
     * Enables fast computations on large datasets

3. Matplotlib (plt):
   - Comprehensive library for creating static, animated, and interactive visualizations
   - Provides MATLAB-like plotting interface
   - Key Features:
     * Line plots, scatter plots, bar charts, histograms
     * Customizable plot styles and layouts
     * Support for multiple plot types and graph formats
     * Integration with NumPy for data visualization

Practical Significance:
----------------------
These libraries form the backbone of data science and scientific computing in Python,
enabling complex data analysis, numerical computations, and insightful visualizations
with minimal code.
"""

In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the Excel file
df = pd.read_excel("/content/Flavivirus host associations.xlsx")

# Display basic information about the dataset
print(df.info())

# Show the first few rows of the data
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sr no.                  570 non-null    int64
 1   Virus                   570 non-null    object
 2   Scientific Name         570 non-null    object
 3   Authors                 570 non-null    object
 4   Year                    430 non-null    object
 5   Title/accession number  570 non-null    object
 6   Journal                 425 non-null    object
 7   Issue                   415 non-null    float64
 8   Volume                  404 non-null    object
 9   Pages                   404 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 44.7+ KB
None

,sr no.,Virus,Scientific Name,Authors,Year,Title/accession number,Journal,Issue,Volume,Pages
0,3,Apoi virus,Rattus rattus,"C. M. Baak-Baak, N. Cigarroa-Toledo, O. M. Tor...",2016,New Records of Ectoparasites Echinolaelaps ech...,Southwestern Entomologist,NaN,NaN,NaN
1,2,Apoi virus,Myodes rufocanus,CDC Arbocat,NaN,CDC Arbocat,NaN,NaN,NaN,NaN
2,0,Apoi virus,Apodemus argenteus,J. S. Mackenzie and D. T. Williams,2009,"The zoonotic flaviviruses of southern, south-e...",Zoonoses Public Health,56.0,6-7,338-56
3,1,Apoi virus,Apodemus speciosus,J. S. Mackenzie and D. T. Williams,2009,"The zoonotic flaviviruses of southern, south-e...",Zoonoses Public Health,56.0,6-7,338-56
4,4,Bagaza virus,Alectoris rufa,"D. Buitrago, A. Rocha, C. Tena-Tomas, M. Vigo,...",2012,Real-time fluorogenic reverse transcription po...,J Vet Diagn Invest,24.0,5,959-63

## Using pandas functions that you have seen in the class address following questions
1. How many entries are there in the dataset?
2. How many viruses are present in the dataset?
3. List those viruses.
4. How many rows of data are present for each virus?
5. How many host species are present in the data?
6. Make a list of host species present.
7. Count the number of unique host species for each virus.
8. Which virus has the most number of hosts?
9. Which host has most number of viruses?

In [2]:
num_enteries = len(df)
print ("Enteries=", num_enteries)

Enteries= 570

In [3]:
num_viruses=df['Virus'].nunique()
print("Viruses=", num_viruses)

Viruses= 30

In [4]:
virus_list=df['Virus'].unique()
print("List of Viruses:", virus_list)

List of Viruses: ['Apoi virus' 'Bagaza virus' 'Banzi virus' 'Bouboui virus'
 'Bussuquara virus' 'Cacipacore virus' 'Dakar bat virus' 'Dengue virus'
 'Entebbe bat virus' 'Iguape virus' 'Ilheus virus'
 'Japanese encephalitis virus' 'Koutango virus' 'Kunjin virus'
 'Kyasanur forest virus' 'Louping-ill virus' 'Modoc virus'
 'Murray Valley encephalitis virus' 'Omsk hemorrhagic fever virus'
 'Rio Bravo virus' 'Rocio virus' 'St. Louis Encephalitis virus'
 'Tembusu virus' 'Tickborne encephalitis virus' 'Uganda S virus'
 'Usutu virus' 'Wesselsbron virus' 'West Nile virus' 'Yellow fever virus'
 'Zika virus']

In [5]:
rows_per_virus = df['Virus'].value_counts()
print("Rows per virus:\n", rows_per_virus)

Rows per virus:
 Virus
West Nile virus                     194
Tickborne encephalitis virus         84
St. Louis Encephalitis virus         72
Usutu virus                          65
Dengue virus                         27
Japanese encephalitis virus          25
Louping-ill virus                    13
Yellow fever virus                   11
Rio Bravo virus                       9
Zika virus                            7
Uganda S virus                        7
Entebbe bat virus                     6
Kyasanur forest virus                 6
Dakar bat virus                       5
Ilheus virus                          5
Apoi virus                            4
Modoc virus                           3
Murray Valley encephalitis virus      3
Wesselsbron virus                     3
Omsk hemorrhagic fever virus          3
Kunjin virus                          3
Bussuquara virus                      3
Bagaza virus                          2
Banzi virus                           2
Rocio virus                           2
Tembusu virus                         2
Koutango virus                        1
Iguape virus                          1
Bouboui virus                         1
Cacipacore virus                      1
Name: count, dtype: int64

In [6]:
num_hosts = df['Scientific Name'].nunique()
print("Number of hosts:", num_hosts)

Number of hosts: 419

In [ ]:
# Exploring Virus and Species Diversity in the Dataset

# Count total number of entries in the dataset

# Count unique viruses

# List of unique viruses

# Count of each unique virus

# Count unique host species

# List of unique host species

# Count of host species for each virus

# Most diverse viruses (viruses with most unique host species)

Total number of entries in the dataset: 570
Number of unique viruses: 30

List of Unique Viruses:
['Apoi virus' 'Bagaza virus' 'Banzi virus' 'Bouboui virus'
 'Bussuquara virus' 'Cacipacore virus' 'Dakar bat virus' 'Dengue virus'
 'Entebbe bat virus' 'Iguape virus' 'Ilheus virus'
 'Japanese encephalitis virus' 'Koutango virus' 'Kunjin virus'
 'Kyasanur forest virus' 'Louping-ill virus' 'Modoc virus'
 'Murray Valley encephalitis virus' 'Omsk hemorrhagic fever virus'
 'Rio Bravo virus' 'Rocio virus' 'St. Louis Encephalitis virus'
 'Tembusu virus' 'Tickborne encephalitis virus' 'Uganda S virus'
 'Usutu virus' 'Wesselsbron virus' 'West Nile virus' 'Yellow fever virus'
 'Zika virus']

Virus Occurrence Counts:
Virus
West Nile virus                     194
Tickborne encephalitis virus         84
St. Louis Encephalitis virus         72
Usutu virus                          65
Dengue virus                         27
Japanese encephalitis virus          25
Louping-ill virus                    13
Yellow fever virus                   11
Rio Bravo virus                       9
Uganda S virus                        7
Zika virus                            7
Entebbe bat virus                     6
Kyasanur forest virus                 6
Ilheus virus                          5
Dakar bat virus                       5
Apoi virus                            4
Modoc virus                           3
Murray Valley encephalitis virus      3
Omsk hemorrhagic fever virus          3
Kunjin virus                          3
Bussuquara virus                      3
Wesselsbron virus                     3
Bagaza virus                          2
Tembusu virus                         2
Banzi virus                           2
Rocio virus                           2
Iguape virus                          1
Koutango virus                        1
Cacipacore virus                      1
Bouboui virus                         1
Name: count, dtype: int64

Number of unique host species: 419

List of Unique Host Species:
['Rattus rattus' 'Myodes rufocanus' 'Apodemus argenteus'
 'Apodemus speciosus' 'Alectoris rufa' 'Phasianus colchicus'
 'Mastomys natalensis' 'Mesocricetus auratus' 'Papio papio'
 'Equus caballus' 'Alouatta belzebul' 'Proechimys guyannensis'
 'Chaerephon pumilus' 'Taphozous perforatus' 'Mops condylurus'
 'Scotophilus nigrita' 'Otomops sp' 'Carollia brevicauda'
 'Molossus molossus' 'Myotis nigricans' 'Natalus stramineus'
 'Rousettus leschenaultii' 'Artibeus planirostris' 'Caluromys philander'
 'Carollia perspicillata' 'Didelphis marsupialis' 'Hylaeamys megacephalus'
 'Marmosa demerarae' 'Marmosa murina' 'Marmosops parvidens'
 'Mesomys hispidus' 'Oecomys sp' 'Philander opossum' 'Proechimys cuvieri'
 'Zygodontomys brevicauda' 'Artibeus jamaicensis' 'Artibeus lituratus'
 'Glossophaga soricina' 'Artibeus sp' 'Uroderma sp' 'Macaca nemestrina'
 'Mus musculus' 'Eidolon helvum' 'Pipistrellus pipistrellus'
 'Rhinolophus sp' 'Rousettus spinalatus' 'Macaca mulatta' 'Equus ferus'
 'Molothrus bonariensis' 'Sporophila caerulescens' 'Hipposideros armiger'
 'Rhinolophus pusillus' 'Vespertilio sinensis' 'Bos taurus' 'Bos gaurus'
 'Crocidura macowi' 'Turdus merula' 'Turdus iliacus' 'Sturnus vulgaris'
 'Turdus philomelos' 'Columba livia' 'Sus scrofa' 'Alouatta pigra'
 'Sus domesticus' 'Myotis pilosus' 'Scotophilus kuhlii'
 'Rhinolophus affinis' 'Miniopterus schreibersii' 'Ovis aries'
 'Murina aurata' 'Padda oryzivora' 'Spilopelia chinensis' 'Gallus gallus'
 'Oriolus flavocinctus' 'Pteropus sp' 'Vandeleuria oleracea'
 'Macaca radiata' 'Madromys blanfordi' 'Semnopithecus entellus'
 'Capra aegagrus' 'Capra hircus' 'Apodemus sylvaticus' 'Canis lupus'
 'Capreolus capreolus' 'Cervus elaphus' 'Lagopus lagopus' 'Lepus timidus'
 'Sorex araneus' 'Peromyscus maniculatus' 'Egretta novaehollandiae'
 'Microtus gregalis' 'Ondatra zibethicus' 'Microtus oeconomus'
 'Molossus rufus' 'Tadarida brasiliensis' 'Eptesicus fuscus'
 'Desmodus rotundus' 'Sturnira lilium' 'Zonotrichia capensis'
 'Agelaioides badius' 'Agelaius phoeniceus' 'Alouatta sp'
 'Ateles paniscus' 'Bradypus variegatus' 'Bubo virginianus'
 'Buteogallus coronatus' 'Butorides striata' 'Callipepla gambelii'
 'Calomys musculinus' 'Campylorhynchus brunneicapillus'
 'Caracara cheriway' 'Carpodacus mexicanus' 'Charadrius vociferus'
 'Choloepus hoffmanni' 'Colaptes melanochloros' 'Columbina passerina'
 'Columbina picui' 'Conopophaga aurita' 'Dendroica coronata'
 'Egretta thula' 'Elaenia albiceps' 'Falco sparverius' 'Furnarius rufus'
 'Geothlypis trichas' 'Geotrygon montana' 'Hypocnemis cantator'
 'Icterus bullockii' 'Ixobrychus exilis' 'Lanius ludovicianus'
 'Lepus californicus' 'Lophospingus pusillus' 'Melospiza melodia'
 'Melozone aberti' 'Mimus polyglottos' 'Molothrus ater'
 'Myiobius barbatus' 'Myrmotherula hauxwelli' 'Nycticorax nycticorax'
 'Oligoryzomys nigripes' 'Orcinus orca' 'Passer domesticus'
 'Phalcoboenus chimango' 'Philydor erythrocercum' 'Pitangus sulphuratus'
 'Poospiza nigrorufa' 'Porzana carolina' 'Procyon lotor'
 'Pseudoseisura lophotes' 'Pyrocephalus rubinus' 'Saltator maximus'
 'Sapajus apella' 'Sayornis nigricans' 'Stelgidopteryx serripennis'
 'Toxostoma redivivum' 'Turdus amaurochalinus' 'Vermivora ruficapilla'
 'Zenaida asiatica' 'Zenaida auriculata' 'Zenaida macroura' 'Tadorna sp'
 'Anas platyrhynchos' 'Apodemus agrarius' 'Myodes rutilus'
 'Alticola argentatus' 'Apodemus pallipes' 'Microtus ilaeus'
 'Bison bonasus' 'Macaca sylvanus' 'Apodemus flavicollis'
 'Microtus agrestis' 'Microtus arvalis' 'Apodemus sp' 'Myodes glareolus'
 'Lagomorpha sp' 'Sciuridae sp' 'Acrocephalus dumetorum' 'Anas crecca'
 'Bombycilla garrulus' 'Carduelis carduelis' 'Carduelis chloris'
 'Carduelis spinus' 'Carpodacus erythrinus' 'Dendrocopos major'
 'Emberiza citrinella' 'Ficedula hypoleuca' 'Luscinia calliope'
 'Luscinia luscinia' 'Mergus merganser' 'Parus ater' 'Parus major'
 'Parus montanus' 'Passer montanus' 'Phoenicurus phoenicurus'
 'Phylloscopus collybita' 'Phylloscopus proregulus'
 'Phylloscopus trochilus' 'Pyrrhula pyrrhula' 'Riparia riparia'
 'Sitta europaea' 'Spatula clypeata' 'Sylvia curruca' 'Vanellus vanellus'
 'Ovis orientalis' 'Accipiter gentilis' 'Anthus trivialis'
 'Bonasa bonasia' 'Carduelis flammea' 'Clangula hyemalis' 'Corvus corone'
 'Corvus monedula' 'Crex crex' 'Emberiza fucata' 'Fringilla coelebs'
 'Fringilla montifringilla' 'Fulica atra' 'Jynx torquilla'
 'Lanius collurio' 'Lanius cristatus' 'Loxia curvirostra'
 'Melanitta fusca' 'Motacilla alba' 'Motacilla flava' 'Pica pica'
 'Scolopax rusticola' 'Spatula querquedula' 'Troglodytes troglodytes'
 'Turdus pallidus' 'Turdus pilaris' 'Turdus ruficollis'
 'Arvicanthis niloticus' 'Cricetomys gambianus' 'Saxicola rubetra'
 'Andropadus virens' 'Bycanistes sharpii' 'Praomys sp' 'Turdus libonyanus'
 'Aegolius funereus' 'Erithacus rubecula' 'Glaucidium passerinum'
 'Surnia ulula' 'Hirundo rustica' 'Parus caeruleus' 'Strix nebulosa'
 'Ardea cinerea' 'Clanga clanga' 'Larus michahellis' 'Merops apiaster'
 'Picus viridis' 'Streptopelia decaocto' 'Garrulus glandarius'
 'Ciconia ciconia' 'Pandion haliaetus' 'Equus asinus'
 'Acrocephalus scirpaceus' 'Bubo bubo' 'Circus aeruginosus'
 'Delichon urbicum' 'Emberiza schoeniclus' 'Falco tinnunculus'
 'Gypaetus barbatus' 'Pavo cristatus' 'Phoenicurus ochruros' 'Strix aluco'
 'Strix uralensis' 'Sylvia atricapilla' 'Sylvia borin' 'Sylvia communis'
 'Tyto alba' 'Alcedo atthis' 'Larosterna inca' 'Serinus canaria'
 'Turdus sp' 'Asio otus' 'Caprimulgus europaeus' 'Larus ridibundus'
 'Desmodillus auricularis' 'Acrocephalus schoenobaenus' 'Anthus pratensis'
 'Meleagris gallopavo' 'Prunella modularis' 'Dendroica petechia'
 'Icterus leucopteryx' 'Leptotila jamaicensis' 'Mniotilta varia'
 'Myiopagis cotta' 'Parkesia noveboracensis' 'Tiaris bicolor'
 'Turdus aurantius' 'Turdus jamaicensis' 'Tyrannus caudifasciatus'
 'Vireo modestus' 'Anorrhinus tickelli' 'Larus leucophthalmus'
 'Anser anser domesticus ' 'Platycercus sp' 'Branta canadensis'
 'Mephitis mephitis' 'Bonasa umbellus' 'Ciconia sp' 'Canis familiaris'
 'Sciurus carolinensis' 'Cyanocitta cristata' 'Corvus brachyrhynchos'
 'Gallus domesticus' 'Bubulcus ibis' 'Aegypius monachus'
 'Corvus frugilegus' 'Coracornis raveni' 'Cardinalis cardinalis'
 'Fulica americana' 'Phalacrocorax sp' 'Dumetella carolinensis'
 'Falco columbarius' 'Falco punctatus' 'Accipiter nisus'
 'Aquila adalberti' 'Quiscalus quiscula' 'Rodent sp' 'Aquila fasciata'
 'Pelophylax ridibundus' 'Aquila chrysaetos' 'Sciurus niger'
 'Athene noctua' 'Chaerephon bregullae' 'Anaxyrus fowleri'
 'Parus atricapillus' 'Arabitragus jayakari' 'Corvus corax'
 'Crocodylus moreletii' 'Panurus biarmicus' 'Haliaeetus albicilla'
 'Hylocichla mustelina' 'Toxostoma rufum' 'Parus carolinensis'
 'Loriini sp' 'Capra falconeri' 'Pelecanus conspicillatus'
 'Quiscalus major' 'Gymnogyps californianus' 'Asio flammeus'
 'Coragyps atratus' 'Buteo swainsoni' 'Pelecanus occidentalis'
 'Cygnus buccinator' 'Sternula albifrons' 'Ictinia mississippiensis'
 'Phalacrocorax auritus' 'Buteo regalis' 'Calidris alba' 'Sturnidae'
 'Charadrius melodus' 'Haliaeetus leucocephalus' 'Akodon mimus'
 'Accipitridae sp' 'Larus smithsonianus' 'Actitis macularius'
 'Sternula antillarum' 'Pelecanus erythrorhynchos' 'Phoenicopterus ruber'
 'Anatidae sp' 'Nestor notabilis' 'Camelus dromedarius'
 'Larus delawarensis' 'Colaptes auratus' 'Baeolophus bicolor'
 'Corvus ossifragus' 'Accipiter striatus' 'Carduelis tristis'
 'Turdus migratorius' 'Anisognathus somptuosus'
 'Campylorhamphus trochilirostris' 'Coereba flaveola'
 'Elaenia flavogaster' 'Thraupis palmarum' 'Turdus leucomelas'
 'Odocoileus virginianus' 'Oreamnos americanus' 'Rangifer tarandus'
 'Ursus maritimus' 'Struthio camelus' 'Accipiter cooperii'
 'Agelaius tricolor' 'Aphelocoma californica' 'Ardea alba'
 'Ardea herodias' 'Buteo jamaicensis' 'Buteo lineatus'
 'Callipepla californica' 'Cistothorus palustris' 'Dryobates nuttallii'
 'Euphagus cyanocephalus' 'Falco peregrinus' 'Geococcyx californianus'
 'Lonchura punctulata' 'Melospiza lincolnii' 'Melozone crissalis'
 'Myiarchus cinerascens' 'Pheucticus melanocephalus' 'Pica nuttalli'
 'Tachycineta bicolor' 'Thryomanes bewickii' 'Tyrannus verticalis'
 'Zonotrichia atricapilla' 'Zonotrichia leucophrys'
 'Acrocephalus palustris' 'Locustella luscinioides' 'Saguinus geoffroyi'
 'Primate sp' 'Erythrocebus patas' 'Alouatta caraya' 'Alouatta guariba'
 'Chlorocebus aethiops' 'Alouatta sara' 'Colobus guereza' 'Aotus sp'
 'Callithrix jacchus' 'Macaca fascicularis' 'Pongo pygmaeus'
 'Sapajus libidinosus']

Host Species per Virus:
Virus
Apoi virus                            4
Bagaza virus                          2
Banzi virus                           2
Bouboui virus                         1
Bussuquara virus                      3
Cacipacore virus                      1
Dakar bat virus                       5
Dengue virus                         27
Entebbe bat virus                     6
Iguape virus                          1
Ilheus virus                          5
Japanese encephalitis virus          25
Koutango virus                        1
Kunjin virus                          3
Kyasanur forest virus                 6
Louping-ill virus                    13
Modoc virus                           3
Murray Valley encephalitis virus      3
Omsk hemorrhagic fever virus          3
Rio Bravo virus                       9
Rocio virus                           2
St. Louis Encephalitis virus         72
Tembusu virus                         2
Tickborne encephalitis virus         83
Uganda S virus                        4
Usutu virus                          65
Wesselsbron virus                     3
West Nile virus                     194
Yellow fever virus                   11
Zika virus                            7
Name: Scientific Name, dtype: int64

Viruses with Most Unique Host Species:
Virus
West Nile virus                 194
Tickborne encephalitis virus     83
St. Louis Encephalitis virus     72
Usutu virus                      65
Dengue virus                     27
Name: Scientific Name, dtype: int64

# Metadata

## Given that we are interested in the metadata associated with these host species, we will import datasets associated with the metadata for both bird and mammalian species.

1. Birds

In [22]:
loc = '/content/Handbook of the Birds of the World and BirdLife International Digital Checklist of the Birds of the World_Version_9.xlsx'
birds_meta = pd.read_excel(loc)
birds_meta.head()

,Seq.,Subsp. Seq.,Order,Family name,Family,Subfamily,Tribe,Common name,Scientific name,Authority,2024 IUCN Red List category,Synonyms,Alternative common names,Taxonomic source(s),SISRecID,SpcRecID\n(used before SISRecID),SubsppID
0,1.0,0.0,STRUTHIONIFORMES,Struthionidae,Ostriches,NaN,NaN,Common Ostrich,Struthio camelus,"Linnaeus, 1758",LC,NaN,NaN,"del Hoyo, J., Collar, N.J., Christie, D.A., El...",45020636.0,1016860.0,NaN
1,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Struthio camelus syriacus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45020636_1
2,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Struthio camelus camelus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45020636_2
3,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Struthio camelus massaicus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45020636_3
4,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Struthio camelus australis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45020636_4

The data for birds is at subspecies level. It means that there is species name represented by column `Seq.`. All rows in same number represent one species.

2. Mammals

## Similarly, read file for mammals metadata.

In [8]:
loc = "/content/IUCN Mammals, Birds, Reptiles, and Amphibians.csv"
mammals_meta = pd.read_csv(loc, encoding='latin-1')
mammals_meta.head()

,Species ID,Kingdom,Phylum,Class,Order,Family,Genus,Species,Authority,Infraspecific rank,...,Synonyms,Common names (Eng),Common names (Fre),Common names (Spa),Red List status,Red List criteria,Red List criteria version,Year assessed,Population trend,Petitioned
0,42641.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,MURIDAE,Abditomys,latidens,"(Sanborn, 1952)",NaN,...,NaN,Luzon Broad-toothed Rat,NaN,NaN,DD,NaN,3.1,2008.0,unknown,N
1,22687170.0,ANIMALIA,CHORDATA,AVES,CAPRIMULGIFORMES,TROCHILIDAE,Abeillia,abeillei,"(Lesson & DeLattre, 1839)",NaN,...,NaN,Emerald-chinned Hummingbird,NaN,NaN,LC,NaN,3.1,2012.0,decreasing,N
2,17879.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,MURIDAE,Abeomelomys,sevia,"(Tate & Archbold, 1935)",NaN,...,Melomys sevia|Pogonomelomys sevia,"Menzies' Mouse, Menzies's Mouse, Highland Brus...",NaN,NaN,LC,NaN,3.1,2016.0,unknown,N
3,47760825.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,CRICETIDAE,Abrawayaomys,ruschii,"Cunha & Cruz, 1979",NaN,...,NaN,Ruschi's Rat,NaN,NaN,LC,NaN,3.1,2016.0,unknown,N
4,42656.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,ABROCOMIDAE,Abrocoma,bennettii,"Waterhouse, 1837",NaN,...,NaN,Bennett's Chinchilla Rat,NaN,NaN,LC,NaN,3.1,2016.0,unknown,N

## For both birds and mammals answer the following questions.
1. Size of the datasets
2. For birds, filter the dataset using species-level rows only. Hint. Column `Subsp. Seq.` value of 0 indicates the main species name
3. How many bird species and mammal species are present in data frames?

1. Size of dataset: Birds_meta has 33265 rows and 17 columns,               Mammals_meta has 16081 rows and 23 columns
2. Number of species-level rows: 11204
3. Number of bird species: 11204, Unique mammal species: 8779

In [10]:
print(birds_meta.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33265 entries, 0 to 33264
Data columns (total 17 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Seq.                             33252 non-null  float64
 1   Subsp. Seq.                      31224 non-null  float64
 2   Order                            13233 non-null  object
 3   Family name                      13232 non-null  object
 4   Family                           13232 non-null  object
 5   Subfamily                        8123 non-null   object
 6   Tribe                            3583 non-null   object
 7   Common name                      11195 non-null  object
 8   Scientific name                  33252 non-null  object
 9   Authority                        13232 non-null  object
 10  2024 IUCN Red List category      13232 non-null  object
 11  Synonyms                         2598 non-null   object
 12  Alternative common names         5859 non-null   object
 13  Taxonomic source(s)              13215 non-null  object
 14  SISRecID                         13232 non-null  float64
 15  SpcRecID
(used before SISRecID)  11855 non-null  float64
 16  SubsppID                         20020 non-null  object
dtypes: float64(4), object(13)
memory usage: 4.3+ MB
None

In [11]:
print(mammals_meta.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16081 entries, 0 to 16080
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Species ID                 15961 non-null  float64
 1   Kingdom                    16081 non-null  object
 2   Phylum                     16081 non-null  object
 3   Class                      16081 non-null  object
 4   Order                      16081 non-null  object
 5   Family                     16081 non-null  object
 6   Genus                      16081 non-null  object
 7   Species                    16077 non-null  object
 8   Authority                  15955 non-null  object
 9   Infraspecific rank         0 non-null      float64
 10  Infraspecific name         0 non-null      float64
 11  Infraspecific authority    0 non-null      float64
 12  Stock/subpopulation        0 non-null      float64
 13  Synonyms                   3168 non-null   object
 14  Common names (Eng)         15762 non-null  object
 15  Common names (Fre)         3083 non-null   object
 16  Common names (Spa)         1355 non-null   object
 17  Red List status            15960 non-null  object
 18  Red List criteria          2583 non-null   object
 19  Red List criteria version  15960 non-null  float64
 20  Year assessed              15960 non-null  float64
 21  Population trend           15729 non-null  object
 22  Petitioned                 15960 non-null  object
dtypes: float64(7), object(16)
memory usage: 2.8+ MB
None

In [15]:
species_birds = birds_meta[birds_meta["Subsp. Seq."] == 0]
print("Number of species-level rows:", len(species_birds))

Number of species-level rows: 11204

In [27]:
num_bird_species = birds_meta['Seq.'].nunique()
print("Number of bird species:", num_bird_species)

num_mammal_species = mammals_meta['Species'].nunique()
print("Unique mammal species:", num_mammal_species)

Number of bird species: 13232
Unique mammal species: 8779

# Database Integration Exercise
The main objective of this exercise is to create a comprehensive database by combining three data frames. Follow these steps  n your analysis.

## Create a concept map:  
* Illustrate the relationships between the three data frames.  
* Identify and highlight the Primary Keys in each data frame.  
* Use a diagramming tool (e.g., PowerPoint, LucidChart, or Draw.io) to create a visual representation of these connections.  
* Pay special attention to how you plan to merge the Mammals and Birds data frames.

![image.png]())

## Perform a vertical join of Mammals and Birds data frames:  
* Identify and select only the common columns present in both data frames.  
* Use `pd.concat()` or `df.append()` to create a larger dataframe called **metadata**.  
* Ensure the resulting dataframe has the correct number of rows and columns.

In [33]:
birds_prepared = species_birds[['Scientific name', 'Order', 'Family name']].copy()
birds_prepared = birds_prepared.rename(columns={'Scientific name': 'Scientific Name', 'Family name': 'Family'})
birds_prepared['Class'] = 'Aves'

mammals_prepared = mammals_meta[['Species', 'Order', 'Family', 'Class']].copy()
mammals_prepared = mammals_prepared.rename(columns={'Species': 'Scientific Name'})

print("Birds Prepared DataFrame (first 5 rows):")
print(birds_prepared.head())
print("\nBirds Prepared DataFrame Columns:")
print(birds_prepared.columns)

print("\nMammals Prepared DataFrame (first 5 rows):")
print(mammals_prepared.head())
print("\nMammals Prepared DataFrame Columns:")
print(mammals_prepared.columns)

Birds Prepared DataFrame (first 5 rows):
           Scientific Name             Order         Family Class
0         Struthio camelus  STRUTHIONIFORMES  Struthionidae  Aves
5   Struthio molybdophanes  STRUTHIONIFORMES  Struthionidae  Aves
6           Rhea americana  STRUTHIONIFORMES        Rheidae  Aves
12            Rhea pennata  STRUTHIONIFORMES        Rheidae  Aves
16      Nothocercus julius  STRUTHIONIFORMES      Tinamidae  Aves

Birds Prepared DataFrame Columns:
Index(['Scientific Name', 'Order', 'Family', 'Class'], dtype='object')

Mammals Prepared DataFrame (first 5 rows):
  Scientific Name             Order       Family     Class
0        latidens          RODENTIA      MURIDAE  MAMMALIA
1        abeillei  CAPRIMULGIFORMES  TROCHILIDAE      AVES
2           sevia          RODENTIA      MURIDAE  MAMMALIA
3         ruschii          RODENTIA   CRICETIDAE  MAMMALIA
4       bennettii          RODENTIA  ABROCOMIDAE  MAMMALIA

Mammals Prepared DataFrame Columns:
Index(['Scientific Name', 'Order', 'Family', 'Class'], dtype='object')

In [34]:
metadata = pd.concat([birds_prepared, mammals_prepared], axis=0, ignore_index=True)

print("First 5 rows of the combined metadata DataFrame:")
print(metadata.head())

print(f"\nShape of metadata DataFrame: {metadata.shape[0]} rows, {metadata.shape[1]} columns")

First 5 rows of the combined metadata DataFrame:
          Scientific Name             Order         Family Class
0        Struthio camelus  STRUTHIONIFORMES  Struthionidae  Aves
1  Struthio molybdophanes  STRUTHIONIFORMES  Struthionidae  Aves
2          Rhea americana  STRUTHIONIFORMES        Rheidae  Aves
3            Rhea pennata  STRUTHIONIFORMES        Rheidae  Aves
4      Nothocercus julius  STRUTHIONIFORMES      Tinamidae  Aves

Shape of metadata DataFrame: 27285 rows, 4 columns

## Merge the metadata dataframe with the Flavivirus dataframe:  
* Experiment with different join types: `inner`, `outer`, `left`, and `right`.  
* For each join type, record the resulting dataframe's shape (rows and columns).  
* Determine the **theoretically correct size of the merged dataframe if done manually**.  
* Compare the results of each join type with the expected outcome.  
* Choose the most appropriate join type based on your analysis.

In [35]:
df_merged_inner = pd.merge(df, metadata, on='Scientific Name', how='inner')

print("First 5 rows of the merged DataFrame (df_merged_inner):")
print(df_merged_inner.head())

print(f"\nShape of df_merged_inner DataFrame: {df_merged_inner.shape[0]} rows, {df_merged_inner.shape[1]} columns")

First 5 rows of the merged DataFrame (df_merged_inner):
   sr no.                        Virus          Scientific Name  \
0       4                 Bagaza virus           Alectoris rufa
1       5                 Bagaza virus      Phasianus colchicus
2      55                 Ilheus virus    Molothrus bonariensis
3      56                 Ilheus virus  Sporophila caerulescens
4      79  Japanese encephalitis virus            Turdus merula

                                             Authors  Year  \
0  D. Buitrago, A. Rocha, C. Tena-Tomas, M. Vigo,...  2012
1  D. Buitrago, A. Rocha, C. Tena-Tomas, M. Vigo,...  2012
2          L. Spence, C. R. Anderson and W. G. Downs  1962
3          L. Spence, C. R. Anderson and W. G. Downs  1962
4                                            GenBank   NaN

                              Title/accession number  \
0  Real-time fluorogenic reverse transcription po...
1  Real-time fluorogenic reverse transcription po...
2  Isolation of Ilheus virus from human beings in...
3  Isolation of Ilheus virus from human beings in...
4                                           AF501311

                    Journal  Issue Volume   Pages          Order       Family  \
0        J Vet Diagn Invest   24.0      5  959-63    GALLIFORMES  Phasianidae
1        J Vet Diagn Invest   24.0      5  959-63    GALLIFORMES  Phasianidae
2  Trans R Soc Trop Med Hyg   56.0      6   504-9  PASSERIFORMES    Icteridae
3  Trans R Soc Trop Med Hyg   56.0      6   504-9  PASSERIFORMES   Thraupidae
4                       NaN    NaN    NaN     NaN  PASSERIFORMES     Turdidae

  Class
0  Aves
1  Aves
2  Aves
3  Aves
4  Aves

Shape of df_merged_inner DataFrame: 307 rows, 13 columns

In [36]:
df_merged_outer = pd.merge(df, metadata, on='Scientific Name', how='outer')

print("First 5 rows of the merged DataFrame (df_merged_outer):")
print(df_merged_outer.head())

print(f"\nShape of df_merged_outer DataFrame: {df_merged_outer.shape[0]} rows, {df_merged_outer.shape[1]} columns")

First 5 rows of the merged DataFrame (df_merged_outer):
   sr no. Virus           Scientific Name Authors Year Title/accession number  \
0     NaN   NaN         Abeillia abeillei     NaN  NaN                    NaN
1     NaN   NaN    Abroscopus albogularis     NaN  NaN                    NaN
2     NaN   NaN    Abroscopus schisticeps     NaN  NaN                    NaN
3     NaN   NaN  Abroscopus superciliaris     NaN  NaN                    NaN
4     NaN   NaN            Aburria aburri     NaN  NaN                    NaN

  Journal  Issue Volume Pages             Order         Family Class
0     NaN    NaN    NaN   NaN  CAPRIMULGIFORMES    Trochilidae  Aves
1     NaN    NaN    NaN   NaN     PASSERIFORMES  Scotocercidae  Aves
2     NaN    NaN    NaN   NaN     PASSERIFORMES  Scotocercidae  Aves
3     NaN    NaN    NaN   NaN     PASSERIFORMES  Scotocercidae  Aves
4     NaN    NaN    NaN   NaN       GALLIFORMES       Cracidae  Aves

Shape of df_merged_outer DataFrame: 27616 rows, 13 columns

In [37]:
df_merged_left = pd.merge(df, metadata, on='Scientific Name', how='left')

print("First 5 rows of the merged DataFrame (df_merged_left):")
print(df_merged_left.head())

print(f"\nShape of df_merged_left DataFrame: {df_merged_left.shape[0]} rows, {df_merged_left.shape[1]} columns")

First 5 rows of the merged DataFrame (df_merged_left):
   sr no.         Virus     Scientific Name  \
0       3    Apoi virus       Rattus rattus
1       2    Apoi virus    Myodes rufocanus
2       0    Apoi virus  Apodemus argenteus
3       1    Apoi virus  Apodemus speciosus
4       4  Bagaza virus      Alectoris rufa

                                             Authors  Year  \
0  C. M. Baak-Baak, N. Cigarroa-Toledo, O. M. Tor...  2016
1                                        CDC Arbocat   NaN
2                 J. S. Mackenzie and D. T. Williams  2009
3                 J. S. Mackenzie and D. T. Williams  2009
4  D. Buitrago, A. Rocha, C. Tena-Tomas, M. Vigo,...  2012

                              Title/accession number  \
0  New Records of Ectoparasites Echinolaelaps ech...
1                                        CDC Arbocat
2  The zoonotic flaviviruses of southern, south-e...
3  The zoonotic flaviviruses of southern, south-e...
4  Real-time fluorogenic reverse transcription po...

                     Journal  Issue Volume   Pages        Order       Family  \
0  Southwestern Entomologist    NaN    NaN     NaN          NaN          NaN
1                        NaN    NaN    NaN     NaN          NaN          NaN
2     Zoonoses Public Health   56.0    6-7  338-56          NaN          NaN
3     Zoonoses Public Health   56.0    6-7  338-56          NaN          NaN
4         J Vet Diagn Invest   24.0      5  959-63  GALLIFORMES  Phasianidae

  Class
0   NaN
1   NaN
2   NaN
3   NaN
4  Aves

Shape of df_merged_left DataFrame: 570 rows, 13 columns

In [38]:
df_merged_right = pd.merge(df, metadata, on='Scientific Name', how='right')

print("First 5 rows of the merged DataFrame (df_merged_right):")
print(df_merged_right.head())

print(f"\nShape of df_merged_right DataFrame: {df_merged_right.shape[0]} rows, {df_merged_right.shape[1]} columns")

First 5 rows of the merged DataFrame (df_merged_right):
   sr no.            Virus         Scientific Name  \
0   522.0  West Nile virus        Struthio camelus
1     NaN              NaN  Struthio molybdophanes
2     NaN              NaN          Rhea americana
3     NaN              NaN            Rhea pennata
4     NaN              NaN      Nothocercus julius

                      Authors  Year  \
0  M. Venter and R. Swanepoel  2010
1                         NaN   NaN
2                         NaN   NaN
3                         NaN   NaN
4                         NaN   NaN

                              Title/accession number  \
0  West Nile virus lineage 2 as a cause of zoonot...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                     Journal  Issue Volume   Pages             Order  \
0  Vector Borne Zoonotic Dis   10.0      7  659-64  STRUTHIONIFORMES
1                        NaN    NaN    NaN     NaN  STRUTHIONIFORMES
2                        NaN    NaN    NaN     NaN  STRUTHIONIFORMES
3                        NaN    NaN    NaN     NaN  STRUTHIONIFORMES
4                        NaN    NaN    NaN     NaN  STRUTHIONIFORMES

          Family Class
0  Struthionidae  Aves
1  Struthionidae  Aves
2        Rheidae  Aves
3        Rheidae  Aves
4      Tinamidae  Aves

Shape of df_merged_right DataFrame: 27353 rows, 13 columns

For further analysis, we want to combine the Flavivirus data (df) with relevant host metadata (metadata). A left join is the best choice because it keeps all the species from the combined birds and mammals datasets (metadata) while adding flavivirus (df) information where it exists. This way, no species is left out just because it doesnt have a recorded virus, and the database stays complete. Species without virus data simply have blank entries in those columns, which also makes it easy to see which ones are missing information.

### Create a pivote table,
1. Rows are virueses  
2. Columns are Taxonomic orders  
3. Values are number of unique host species

In [40]:
df_merged_left['Order'] = df_merged_left['Order'].fillna('Unknown Order')

pivot_table_host_diversity = pd.pivot_table(df_merged_left,
                                            index='Virus',
                                            columns='Order',
                                            values='Scientific Name',
                                            aggfunc='nunique')

pd.set_option('display.max_columns', None)
print("Pivot Table of Host Species Diversity by Virus and Order:\n")
print(pivot_table_host_diversity)
pd.reset_option('display.max_columns')

Pivot Table of Host Species Diversity by Virus and Order:

Order                             ACCIPITRIFORMES  ANSERIFORMES  \
Virus
Apoi virus                                    NaN           NaN
Bagaza virus                                  NaN           NaN
Banzi virus                                   NaN           NaN
Bouboui virus                                 NaN           NaN
Bussuquara virus                              NaN           NaN
Cacipacore virus                              NaN           NaN
Dakar bat virus                               NaN           NaN
Dengue virus                                  NaN           NaN
Entebbe bat virus                             NaN           NaN
Iguape virus                                  NaN           NaN
Ilheus virus                                  NaN           NaN
Japanese encephalitis virus                   NaN           NaN
Koutango virus                                NaN           NaN
Kunjin virus                                  NaN           NaN
Kyasanur forest virus                         NaN           NaN
Louping-ill virus                             NaN           NaN
Modoc virus                                   NaN           NaN
Murray Valley encephalitis virus              NaN           NaN
Omsk hemorrhagic fever virus                  NaN           NaN
Rio Bravo virus                               NaN           NaN
Rocio virus                                   NaN           NaN
St. Louis Encephalitis virus                  1.0           NaN
Tembusu virus                                 NaN           1.0
Tickborne encephalitis virus                  1.0           7.0
Uganda S virus                                NaN           NaN
Usutu virus                                   4.0           NaN
Wesselsbron virus                             NaN           NaN
West Nile virus                              16.0           4.0
Yellow fever virus                            NaN           NaN
Zika virus                                    NaN           NaN

Order                             BUCEROTIFORMES  CAPRIMULGIFORMES  \
Virus
Apoi virus                                   NaN               NaN
Bagaza virus                                 NaN               NaN
Banzi virus                                  NaN               NaN
Bouboui virus                                NaN               NaN
Bussuquara virus                             NaN               NaN
Cacipacore virus                             NaN               NaN
Dakar bat virus                              NaN               NaN
Dengue virus                                 NaN               NaN
Entebbe bat virus                            NaN               NaN
Iguape virus                                 NaN               NaN
Ilheus virus                                 NaN               NaN
Japanese encephalitis virus                  NaN               NaN
Koutango virus                               NaN               NaN
Kunjin virus                                 NaN               NaN
Kyasanur forest virus                        NaN               NaN
Louping-ill virus                            NaN               NaN
Modoc virus                                  NaN               NaN
Murray Valley encephalitis virus             NaN               NaN
Omsk hemorrhagic fever virus                 NaN               NaN
Rio Bravo virus                              NaN               NaN
Rocio virus                                  NaN               NaN
St. Louis Encephalitis virus                 NaN               NaN
Tembusu virus                                NaN               NaN
Tickborne encephalitis virus                 NaN               NaN
Uganda S virus                               NaN               NaN
Usutu virus                                  1.0               1.0
Wesselsbron virus                            NaN               NaN
West Nile virus                              1.0               NaN
Yellow fever virus                           NaN               NaN
Zika virus                                   NaN               NaN

Order                             CATHARTIFORMES  CHARADRIIFORMES  \
Virus
Apoi virus                                   NaN              NaN
Bagaza virus                                 NaN              NaN
Banzi virus                                  NaN              NaN
Bouboui virus                                NaN              NaN
Bussuquara virus                             NaN              NaN
Cacipacore virus                             NaN              NaN
Dakar bat virus                              NaN              NaN
Dengue virus                                 NaN              NaN
Entebbe bat virus                            NaN              NaN
Iguape virus                                 NaN              NaN
Ilheus virus                                 NaN              NaN
Japanese encephalitis virus                  NaN              NaN
Koutango virus                               NaN              NaN
Kunjin virus                                 NaN              NaN
Kyasanur forest virus                        NaN              NaN
Louping-ill virus                            NaN              NaN
Modoc virus                                  NaN              NaN
Murray Valley encephalitis virus             NaN              NaN
Omsk hemorrhagic fever virus                 NaN              NaN
Rio Bravo virus                              NaN              NaN
Rocio virus                                  NaN              NaN
St. Louis Encephalitis virus                 NaN              1.0
Tembusu virus                                NaN              NaN
Tickborne encephalitis virus                 NaN              2.0
Uganda S virus                               NaN              NaN
Usutu virus                                  NaN              3.0
Wesselsbron virus                            NaN              NaN
West Nile virus                              2.0              9.0
Yellow fever virus                           NaN              NaN
Zika virus                                   NaN              NaN

Order                             CICONIIFORMES  COLUMBIFORMES  CORACIIFORMES  \
Virus
Apoi virus                                  NaN            NaN            NaN
Bagaza virus                                NaN            NaN            NaN
Banzi virus                                 NaN            NaN            NaN
Bouboui virus                               NaN            NaN            NaN
Bussuquara virus                            NaN            NaN            NaN
Cacipacore virus                            NaN            NaN            NaN
Dakar bat virus                             NaN            NaN            NaN
Dengue virus                                NaN            NaN            NaN
Entebbe bat virus                           NaN            NaN            NaN
Iguape virus                                NaN            NaN            NaN
Ilheus virus                                NaN            NaN            NaN
Japanese encephalitis virus                 NaN            2.0            NaN
Koutango virus                              NaN            NaN            NaN
Kunjin virus                                NaN            NaN            NaN
Kyasanur forest virus                       NaN            NaN            NaN
Louping-ill virus                           NaN            NaN            NaN
Modoc virus                                 NaN            NaN            NaN
Murray Valley encephalitis virus            NaN            NaN            NaN
Omsk hemorrhagic fever virus                NaN            NaN            NaN
Rio Bravo virus                             NaN            NaN            NaN
Rocio virus                                 NaN            NaN            NaN
St. Louis Encephalitis virus                NaN            8.0            NaN
Tembusu virus                               NaN            NaN            NaN
Tickborne encephalitis virus                NaN            1.0            NaN
Uganda S virus                              NaN            NaN            NaN
Usutu virus                                 1.0            1.0            2.0
Wesselsbron virus                           NaN            NaN            NaN
West Nile virus                             NaN            6.0            NaN
Yellow fever virus                          NaN            NaN            NaN
Zika virus                                  NaN            NaN            NaN

Order                             CUCULIFORMES  FALCONIFORMES  GALLIFORMES  \
Virus
Apoi virus                                 NaN            NaN          NaN
Bagaza virus                               NaN            NaN          2.0
Banzi virus                                NaN            NaN          NaN
Bouboui virus                              NaN            NaN          NaN
Bussuquara virus                           NaN            NaN          NaN
Cacipacore virus                           NaN            NaN          NaN
Dakar bat virus                            NaN            NaN          NaN
Dengue virus                               NaN            NaN          NaN
Entebbe bat virus                          NaN            NaN          NaN
Iguape virus                               NaN            NaN          NaN
Ilheus virus                               NaN            NaN          NaN
Japanese encephalitis virus                NaN            NaN          NaN
Koutango virus                             NaN            NaN          1.0
Kunjin virus                               NaN            NaN          NaN
Kyasanur forest virus                      NaN            NaN          NaN
Louping-ill virus                          NaN            NaN          1.0
Modoc virus                                NaN            NaN          NaN
Murray Valley encephalitis virus           NaN            NaN          NaN
Omsk hemorrhagic fever virus               NaN            NaN          NaN
Rio Bravo virus                            NaN            NaN          NaN
Rocio virus                                NaN            NaN          NaN
St. Louis Encephalitis virus               NaN            2.0          2.0
Tembusu virus                              NaN            NaN          NaN
Tickborne encephalitis virus               NaN            NaN          NaN
Uganda S virus                             NaN            NaN          NaN
Usutu virus                                NaN            1.0          4.0
Wesselsbron virus                          NaN            NaN          NaN
West Nile virus                            1.0            4.0          6.0
Yellow fever virus                         NaN            NaN          NaN
Zika virus                                 NaN            NaN          NaN

Order                             GRUIFORMES  PASSERIFORMES  PELECANIFORMES  \
Virus
Apoi virus                               NaN            NaN             NaN
Bagaza virus                             NaN            NaN             NaN
Banzi virus                              NaN            NaN             NaN
Bouboui virus                            NaN            NaN             NaN
Bussuquara virus                         NaN            NaN             NaN
Cacipacore virus                         NaN            NaN             NaN
Dakar bat virus                          NaN            NaN             NaN
Dengue virus                             NaN            NaN             NaN
Entebbe bat virus                        NaN            NaN             NaN
Iguape virus                             NaN            NaN             NaN
Ilheus virus                             NaN            2.0             NaN
Japanese encephalitis virus              NaN            5.0             NaN
Koutango virus                           NaN            NaN             NaN
Kunjin virus                             NaN            1.0             NaN
Kyasanur forest virus                    NaN            NaN             NaN
Louping-ill virus                        NaN            NaN             NaN
Modoc virus                              NaN            NaN             NaN
Murray Valley encephalitis virus         NaN            NaN             1.0
Omsk hemorrhagic fever virus             NaN            NaN             NaN
Rio Bravo virus                          NaN            NaN             NaN
Rocio virus                              NaN            1.0             NaN
St. Louis Encephalitis virus             1.0           28.0             4.0
Tembusu virus                            NaN            NaN             NaN
Tickborne encephalitis virus             2.0           34.0             NaN
Uganda S virus                           NaN            1.0             NaN
Usutu virus                              1.0           22.0             1.0
Wesselsbron virus                        NaN            NaN             NaN
West Nile virus                          2.0           68.0            10.0
Yellow fever virus                       NaN            NaN             NaN
Zika virus                               NaN            NaN             NaN

Order                             PHOENICOPTERIFORMES  PICIFORMES  \
Virus
Apoi virus                                        NaN         NaN
Bagaza virus                                      NaN         NaN
Banzi virus                                       NaN         NaN
Bouboui virus                                     NaN         NaN
Bussuquara virus                                  NaN         NaN
Cacipacore virus                                  NaN         NaN
Dakar bat virus                                   NaN         NaN
Dengue virus                                      NaN         NaN
Entebbe bat virus                                 NaN         NaN
Iguape virus                                      NaN         NaN
Ilheus virus                                      NaN         NaN
Japanese encephalitis virus                       NaN         NaN
Koutango virus                                    NaN         NaN
Kunjin virus                                      NaN         NaN
Kyasanur forest virus                             NaN         NaN
Louping-ill virus                                 NaN         NaN
Modoc virus                                       NaN         NaN
Murray Valley encephalitis virus                  NaN         NaN
Omsk hemorrhagic fever virus                      NaN         NaN
Rio Bravo virus                                   NaN         NaN
Rocio virus                                       NaN         NaN
St. Louis Encephalitis virus                      NaN         1.0
Tembusu virus                                     NaN         NaN
Tickborne encephalitis virus                      NaN         2.0
Uganda S virus                                    NaN         NaN
Usutu virus                                       NaN         2.0
Wesselsbron virus                                 NaN         NaN
West Nile virus                                   1.0         2.0
Yellow fever virus                                NaN         NaN
Zika virus                                        NaN         NaN

Order                             PSITTACIFORMES  STRIGIFORMES  \
Virus
Apoi virus                                   NaN           NaN
Bagaza virus                                 NaN           NaN
Banzi virus                                  NaN           NaN
Bouboui virus                                NaN           NaN
Bussuquara virus                             NaN           NaN
Cacipacore virus                             NaN           NaN
Dakar bat virus                              NaN           NaN
Dengue virus                                 NaN           NaN
Entebbe bat virus                            NaN           NaN
Iguape virus                                 NaN           NaN
Ilheus virus                                 NaN           NaN
Japanese encephalitis virus                  NaN           NaN
Koutango virus                               NaN           NaN
Kunjin virus                                 NaN           NaN
Kyasanur forest virus                        NaN           NaN
Louping-ill virus                            NaN           NaN
Modoc virus                                  NaN           NaN
Murray Valley encephalitis virus             NaN           NaN
Omsk hemorrhagic fever virus                 NaN           NaN
Rio Bravo virus                              NaN           NaN
Rocio virus                                  NaN           NaN
St. Louis Encephalitis virus                 NaN           1.0
Tembusu virus                                NaN           NaN
Tickborne encephalitis virus                 NaN           NaN
Uganda S virus                               NaN           NaN
Usutu virus                                  NaN           9.0
Wesselsbron virus                            NaN           NaN
West Nile virus                              1.0           4.0
Yellow fever virus                           NaN           NaN
Zika virus                                   NaN           NaN

Order                             STRUTHIONIFORMES  Unknown Order
Virus
Apoi virus                                     NaN            4.0
Bagaza virus                                   NaN            NaN
Banzi virus                                    NaN            2.0
Bouboui virus                                  NaN            1.0
Bussuquara virus                               NaN            3.0
Cacipacore virus                               NaN            1.0
Dakar bat virus                                NaN            5.0
Dengue virus                                   NaN           27.0
Entebbe bat virus                              NaN            6.0
Iguape virus                                   NaN            1.0
Ilheus virus                                   NaN            3.0
Japanese encephalitis virus                    NaN           18.0
Koutango virus                                 NaN            NaN
Kunjin virus                                   NaN            2.0
Kyasanur forest virus                          NaN            6.0
Louping-ill virus                              NaN           12.0
Modoc virus                                    NaN            3.0
Murray Valley encephalitis virus               NaN            2.0
Omsk hemorrhagic fever virus                   NaN            3.0
Rio Bravo virus                                NaN            9.0
Rocio virus                                    NaN            1.0
St. Louis Encephalitis virus                   NaN           23.0
Tembusu virus                                  NaN            1.0
Tickborne encephalitis virus                   NaN           34.0
Uganda S virus                                 NaN            3.0
Usutu virus                                    NaN           12.0
Wesselsbron virus                              NaN            3.0
West Nile virus                                1.0           56.0
Yellow fever virus                             NaN           11.0
Zika virus                                     NaN            7.0