<a href="https://colab.research.google.com/github/guptaayushi22/MPM_200_Gupta/blob/main/Session%209/database_management_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/content/covid-tracking-data-master_COVID_Tracking_Project_2020_08_07_daily (1).csv')

In [8]:
df.head(20) #to check first 20 rows or any number specified in the parenthesis, default without any number is 5

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200807,AK,4288.0,264563.0,NaN,37.0,NaN,NaN,NaN,3.0,...,268851,0,0,d608cee3e98d23a9e920faab4361b771c779880f,0,0,0,0,0,NaN
1,20200807,AL,98301.0,651115.0,NaN,1575.0,11537.0,NaN,1219.0,NaN,...,749416,21,224,b180d67ecb2784ceaaaf7fef67dcee5833fadd52,0,0,0,0,0,NaN
2,20200807,AR,48039.0,503484.0,NaN,514.0,3168.0,NaN,NaN,111.0,...,551523,6,50,1e9a8ed04dc081a895e26f03a10711ce88d78be2,0,0,0,0,0,NaN
3,20200807,AS,0.0,1396.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1396,0,0,9395052fa25b89c3561068bed6cc6c425623bb9c,0,0,0,0,0,NaN
4,20200807,AZ,185053.0,819792.0,NaN,1772.0,19241.0,565.0,NaN,411.0,...,1004845,79,5173,73a278d71ae7e87e4e634538a146339f015d5531,0,0,0,0,0,NaN
5,20200807,CA,538416.0,8058466.0,NaN,7277.0,NaN,1978.0,NaN,NaN,...,8596882,142,0,de76be81f6dc15ca6c65b81d94e2c5e34e4489df,0,0,0,0,0,NaN
6,20200807,CO,49436.0,521927.0,NaN,317.0,6572.0,NaN,NaN,NaN,...,571363,12,36,10231a124c642e2752d95e43996176e48f45bdcc,0,0,0,0,0,NaN
7,20200807,CT,50320.0,814313.0,NaN,65.0,10920.0,NaN,NaN,NaN,...,864633,4,0,61e96bc8714af48a34babab0a5a4751692db93f0,0,0,0,0,0,NaN
8,20200807,DC,12589.0,196136.0,NaN,90.0,NaN,18.0,NaN,12.0,...,208725,2,0,18fff97e4bcf61361699e05dbd0346a9b5e87851,0,0,0,0,0,NaN
9,20200807,DE,15445.0,179339.0,NaN,37.0,NaN,15.0,NaN,NaN,...,194784,1,0,0bfbdc5f6a8c68ecbc57bff1415d8cc344ca6cea,0,0,0,0,0,NaN
10,20200807,FL,518075.0,3378864.0,3374.0,7144.0,30114.0,NaN,NaN,NaN,...,3896939,180,599,4441b5da2191ee571e99660d66c907bc7e3c8c10,0,0,0,0,0,NaN
11,20200807,GA,209004.0,1544125.0,NaN,2981.0,20282.0,NaN,3700.0,NaN,...,1753129,91,280,38a8e7d0f561bdf3de75ffdf121e53b0e0531d59,0,0,0,0,0,NaN
12,20200807,GU,411.0,23951.0,NaN,3.0,NaN,NaN,NaN,NaN,...,24362,0,0,f0a62d446005d8d21c4cf8be94af3e31a26844ca,0,0,0,0,0,NaN
13,20200807,HI,2914.0,132370.0,NaN,117.0,225.0,21.0,NaN,14.0,...,135284,2,11,20ca05b7d84a8982c63d03eb4eaa4839636dee6d,0,0,0,0,0,NaN
14,20200807,IA,47865.0,460835.0,NaN,223.0,NaN,65.0,NaN,25.0,...,508700,5,0,b96b91632913c896ce25531049db38793744c8f5,0,0,0,0,0,NaN
15,20200807,ID,23399.0,175301.0,NaN,242.0,954.0,42.0,269.0,NaN,...,198700,6,23,0640ec5a1fe56d9f63b8a2a20cd1d4a982d9f858,0,0,0,0,0,NaN
16,20200807,IL,191808.0,2794110.0,NaN,1486.0,NaN,333.0,NaN,125.0,...,2985918,31,0,04be9cbc5beb13af8f3e0b0816dfd72305b4ec8b,0,0,0,0,0,NaN
17,20200807,IN,72254.0,744850.0,NaN,990.0,9354.0,295.0,1927.0,76.0,...,817104,10,87,87b726005955f8c6486e7a695991a89d591e44be,0,0,0,0,0,NaN
18,20200807,KS,30638.0,285874.0,NaN,333.0,1875.0,88.0,526.0,26.0,...,316512,12,54,af34d3198d153c32acd6b19d2170aaaa438e8319,0,0,0,0,0,NaN
19,20200807,KY,33796.0,608198.0,NaN,717.0,3975.0,136.0,1254.0,NaN,...,641994,4,51,750db6b15ed094816112f699a2caed09a1a5eb3d,0,0,0,0,0,NaN

In [6]:
df.tail()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
8692,20200126,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,7acb526e14f20a29cc74a0b32a37328bc6eac6c2,0,0,0,0,0,NaN
8693,20200125,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,9b52ca94dd2a996822542ea5f17a7363e7ad91cf,0,0,0,0,0,NaN
8694,20200124,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,094154f68e74bfc30b977cdee888f9c07be4360e,0,0,0,0,0,NaN
8695,20200123,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,e16af2a6a8f060355ff5ba499a28309a262c0b1e,0,0,0,0,0,NaN
8696,20200122,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,8f8db794931706272489cddd51e917a4a69c8c9b,0,0,0,0,0,NaN

In [9]:
df.columns

Index(['date', 'state', 'positive', 'negative', 'pending',
       'hospitalizedCurrently', 'hospitalizedCumulative', 'inIcuCurrently',
       'inIcuCumulative', 'onVentilatorCurrently', 'onVentilatorCumulative',
       'recovered', 'dataQualityGrade', 'lastUpdateEt', 'dateModified',
       'checkTimeEt', 'death', 'hospitalized', 'dateChecked',
       'totalTestsViral', 'positiveTestsViral', 'negativeTestsViral',
       'positiveCasesViral', 'deathConfirmed', 'deathProbable', 'fips',
       'positiveIncrease', 'negativeIncrease', 'total', 'totalTestResults',
       'totalTestResultsIncrease', 'posNeg', 'deathIncrease',
       'hospitalizedIncrease', 'hash', 'commercialScore',
       'negativeRegularScore', 'negativeScore', 'positiveScore', 'score',
       'grade'],
      dtype='object')

In [10]:
df.columns.tolist()

['date',
 'state',
 'positive',
 'negative',
 'pending',
 'hospitalizedCurrently',
 'hospitalizedCumulative',
 'inIcuCurrently',
 'inIcuCumulative',
 'onVentilatorCurrently',
 'onVentilatorCumulative',
 'recovered',
 'dataQualityGrade',
 'lastUpdateEt',
 'dateModified',
 'checkTimeEt',
 'death',
 'hospitalized',
 'dateChecked',
 'totalTestsViral',
 'positiveTestsViral',
 'negativeTestsViral',
 'positiveCasesViral',
 'deathConfirmed',
 'deathProbable',
 'fips',
 'positiveIncrease',
 'negativeIncrease',
 'total',
 'totalTestResults',
 'totalTestResultsIncrease',
 'posNeg',
 'deathIncrease',
 'hospitalizedIncrease',
 'hash',
 'commercialScore',
 'negativeRegularScore',
 'negativeScore',
 'positiveScore',
 'score',
 'grade']

In [12]:
df.dtypes #floats are natural numbers/ even decimals, date as integer is wrong, state is object (a characteristic)

date                          int64
state                        object
positive                    float64
negative                    float64
pending                     float64
hospitalizedCurrently       float64
hospitalizedCumulative      float64
inIcuCurrently              float64
inIcuCumulative             float64
onVentilatorCurrently       float64
onVentilatorCumulative      float64
recovered                   float64
dataQualityGrade             object
lastUpdateEt                 object
dateModified                 object
checkTimeEt                  object
death                       float64
hospitalized                float64
dateChecked                  object
totalTestsViral             float64
positiveTestsViral          float64
negativeTestsViral          float64
positiveCasesViral          float64
deathConfirmed              float64
deathProbable               float64
fips                          int64
positiveIncrease              int64
negativeIncrease              int64
total                         int64
totalTestResults              int64
totalTestResultsIncrease      int64
posNeg                        int64
deathIncrease                 int64
hospitalizedIncrease          int64
hash                         object
commercialScore               int64
negativeRegularScore          int64
negativeScore                 int64
positiveScore                 int64
score                         int64
grade                       float64
dtype: object

In [14]:
#import datetime as dt

In [17]:
CA = df[df.state == 'CA'] #filter and name it CA

In [18]:
CA

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
5,20200807,CA,538416.0,8058466.0,NaN,7277.0,NaN,1978.0,NaN,NaN,...,8596882,142,0,de76be81f6dc15ca6c65b81d94e2c5e34e4489df,0,0,0,0,0,NaN
61,20200806,CA,529980.0,7970483.0,NaN,7485.0,NaN,2026.0,NaN,NaN,...,8500463,166,0,04d0f37534059d04347fd2c84c1183d80fe86371,0,0,0,0,0,NaN
117,20200805,CA,524722.0,7884678.0,NaN,7552.0,NaN,2005.0,NaN,NaN,...,8409400,202,0,c877f9c8b267330bc105adeffdf3dce664b3ba94,0,0,0,0,0,NaN
173,20200804,CA,519427.0,7786286.0,NaN,7630.0,NaN,2082.0,NaN,NaN,...,8305713,113,0,90e3e08ccbd077a1dd09f6322366feedef7d2356,0,0,0,0,0,NaN
229,20200803,CA,514901.0,7669795.0,NaN,7629.0,NaN,2069.0,NaN,NaN,...,8184696,32,0,3e13c19ce424ee3a196c2af8c24fa9df6cedf226,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8478,20200308,CA,88.0,462.0,NaN,NaN,NaN,NaN,NaN,NaN,...,550,0,0,841788a5ae11d1cb868b7d1a0b5dafbc665ba169,0,0,0,0,0,NaN
8528,20200307,CA,69.0,462.0,NaN,NaN,NaN,NaN,NaN,NaN,...,531,0,0,97d60a21e9065f4c8044c990091051b3f0c5a49c,0,0,0,0,0,NaN
8577,20200306,CA,60.0,462.0,NaN,NaN,NaN,NaN,NaN,NaN,...,522,0,0,662f66bd8d1c194ce87d7404753a9b83515d2695,0,0,0,0,0,NaN
8611,20200305,CA,53.0,462.0,NaN,NaN,NaN,NaN,NaN,NaN,...,515,0,0,8ee918675d3f2f0f6b94dee19267e2be366999ff,0,0,0,0,0,NaN
8635,20200304,CA,53.0,462.0,NaN,NaN,NaN,NaN,NaN,NaN,...,515,0,0,5a4090a5d0f48c63008d34430a1845a383bebc1f,0,0,0,0,0,NaN

In [19]:
CA[["total", "totalTestResults", "totalTestResultsIncrease", "positiveIncrease", 'positive']] #interested colums filtered

,total,totalTestResults,totalTestResultsIncrease,positiveIncrease,positive
5,8596882,8596882,96419,8436,538416.0
61,8500463,8500463,91063,5258,529980.0
117,8409400,8409400,103687,5295,524722.0
173,8305713,8305713,121017,4526,519427.0
229,8184696,8184696,148721,5739,514901.0
...,...,...,...,...,...
8478,550,550,19,19,88.0
8528,531,531,9,9,69.0
8577,522,522,7,7,60.0
8611,515,515,0,0,53.0
8635,515,515,0,0,53.0

In [20]:
CA.positiveIncrease.sum()

np.int64(538363)

In [26]:
CA.positiveIncrease.describe() #all basic stats for a column

count      157.000000
mean      3429.063694
std       3186.729975
min          0.000000
25%       1179.000000
50%       2140.000000
75%       5349.000000
max      12807.000000
Name: positiveIncrease, dtype: float64

In [27]:
df.describe() #all basic stats for all columns

,date,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,totalTestResultsIncrease,posNeg,deathIncrease,hospitalizedIncrease,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
count,8.697000e+03,8682.000000,8.541000e+03,1098.000000,6094.000000,4704.000000,3159.000000,1280.000000,2749.000000,454.000000,...,8697.000000,8.697000e+03,8697.000000,8697.000000,8697.0,8697.0,8697.0,8697.0,8697.0,0.0
mean,2.020053e+07,31673.263649,3.146277e+05,1122.030055,966.263210,5374.668580,372.002216,806.244531,171.985813,212.548458,...,6946.580890,3.406028e+05,17.571116,37.992411,0.0,0.0,0.0,0.0,0.0,NaN
std,1.490686e+02,65866.697847,6.775167e+05,5820.917868,1874.597011,13667.699784,648.914436,711.377348,273.943372,141.470708,...,13909.106724,7.316130e+05,50.737317,269.839816,0.0,0.0,0.0,0.0,0.0,NaN
min,2.020012e+07,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,2.000000,...,-173528.000000,0.000000e+00,-213.000000,-4124.000000,0.0,0.0,0.0,0.0,0.0,NaN
25%,2.020041e+07,739.000000,1.437300e+04,17.000000,95.000000,330.750000,63.000000,223.000000,26.000000,111.000000,...,345.000000,1.340100e+04,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,NaN
50%,2.020052e+07,7168.500000,9.157900e+04,130.000000,383.000000,1489.000000,146.000000,605.500000,84.000000,161.000000,...,2250.000000,9.668100e+04,3.000000,0.000000,0.0,0.0,0.0,0.0,0.0,NaN
75%,2.020063e+07,32734.500000,3.257380e+05,477.750000,944.000000,4699.000000,349.000000,1166.250000,188.000000,275.500000,...,7495.000000,3.511640e+05,14.000000,21.000000,0.0,0.0,0.0,0.0,0.0,NaN
max,2.020081e+07,538416.000000,8.058466e+06,64400.000000,18825.000000,89995.000000,5225.000000,3700.000000,2425.000000,658.000000,...,177201.000000,8.596882e+06,951.000000,16373.000000,0.0,0.0,0.0,0.0,0.0,NaN

In [28]:
df.groupby('state').agg({'positiveIncrease':'sum','totalTestResultsIncrease':'mean'}) #group states and for each state aggregate the sum of postiveIncrease and mean for total

       positiveIncrease  totalTestResultsIncrease
state
AK                 4288               1734.470968
AL                98301               4866.337662
AR                48039               3558.174194
AS                    0                  9.627586
AZ               185051               6400.101911
CA               538363              54753.929936
CO                49436               3662.461538
CT                50320               5614.500000
DC                12589               1337.942308
DE                15445               1256.606452
FL               518073              24821.101911
GA               209002              11166.414013
GU                  408                167.834483
HI                 2913                878.461039
IA                47865               3281.838710
ID                23399               1290.084416
IL               191804              19017.770701
IN                72253               5271.632258
KS                30638               2041.987097
KY                33796               4141.851613
LA               128746               9772.740260
MA               120283               8631.187919
MD                93806               6453.891026
ME                 4014               1192.993506
MI                95461              12728.662500
MN                59184               5872.477419
MO                57379               4887.922078
MP                   47                 84.834483
MS                65436               3163.714286
MT                 4757               1219.123377
NC               132811              12355.484076
ND                 7327               1075.980519
NE                27821               1883.878205
NH                 6740               1072.949045
NJ               184060              14440.967949
NM                21773               3899.135484
NV                54532               3249.891026
NY               419636              40566.375796
OH                98675              10404.410256
OK                42254               4453.337662
OR                20633               2787.649682
PA               117277               8496.109677
PR                20681               2252.717241
RI                19736               1362.306250
SC                98219               4891.439490
SD                 9371                770.922078
TN               118781              10654.044872
TX               474523              25481.089172
UT                43374               3630.512987
VA                97882               7748.250000
VI                  521                 72.400000
VT                 1448                651.367742
WA                60915               5080.512563
WI                63027               6611.184713
WV                 7433               2017.264516
WY                 3000                367.694805

In [30]:
df[0:1] #looking at all the columns for 1st row (bc in python 1st row is 0)

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200807,AK,4288.0,264563.0,NaN,37.0,NaN,NaN,NaN,3.0,...,268851,0,0,d608cee3e98d23a9e920faab4361b771c779880f,0,0,0,0,0,NaN

In [32]:
df[50:100] #filtering rows 50 to 100

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
50,20200807,VI,522.0,9977.0,21.0,NaN,NaN,NaN,NaN,NaN,...,10499,0,0,7e94a8c3a4b12bafc641fb24585efa56293188dc,0,0,0,0,0,NaN
51,20200807,VT,1448.0,99514.0,NaN,6.0,NaN,NaN,NaN,NaN,...,100962,0,0,d39aebec1b864ebda61c97b4cb3e60fa6ee637f5,0,0,0,0,0,NaN
52,20200807,WA,60917.0,950107.0,NaN,405.0,5874.0,NaN,NaN,50.0,...,1011024,29,34,042438e98001ec06fcc86164ba91b84e63325d5f,0,0,0,0,0,NaN
53,20200807,WI,63028.0,974948.0,118.0,296.0,4930.0,101.0,931.0,NaN,...,1037976,12,49,030071e9a3b76eb98eb39eecd01842d3104d3ce1,0,0,0,0,0,NaN
54,20200807,WV,7433.0,305244.0,NaN,122.0,NaN,46.0,NaN,14.0,...,312677,3,0,1782a5197f4344019c1b9b151569f61738913c3c,0,0,0,0,0,NaN
55,20200807,WY,3000.0,53625.0,NaN,17.0,176.0,NaN,NaN,NaN,...,56625,1,5,90ce43445b7828ef42d7cee0f97ca258e0c38b50,0,0,0,0,0,NaN
56,20200806,AK,4223.0,257349.0,NaN,42.0,NaN,NaN,NaN,2.0,...,261572,0,0,cb6042a57c94293675b4f8b2a02af69d8012d91f,0,0,0,0,0,NaN
57,20200806,AL,96592.0,643192.0,NaN,1575.0,11313.0,NaN,1211.0,NaN,...,739784,19,213,27774ad0a8fd9899b54fb5d577b1b778d3d5004f,0,0,0,0,0,NaN
58,20200806,AR,47028.0,492808.0,NaN,514.0,3118.0,NaN,NaN,111.0,...,539836,7,0,1188e9bb4b25b98410580729c252181b8d1f4dfc,0,0,0,0,0,NaN
59,20200806,AS,0.0,1396.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1396,0,0,5c33616b07ca7687fdea8c9ea6a110cb6abea724,0,0,0,0,0,NaN
60,20200806,AZ,183647.0,812217.0,NaN,1879.0,14068.0,593.0,NaN,427.0,...,995864,70,509,b9e494d4ce7ec7f1188ac5a7b72643b596000d1d,0,0,0,0,0,NaN
61,20200806,CA,529980.0,7970483.0,NaN,7485.0,NaN,2026.0,NaN,NaN,...,8500463,166,0,04d0f37534059d04347fd2c84c1183d80fe86371,0,0,0,0,0,NaN
62,20200806,CO,48988.0,516331.0,NaN,320.0,6536.0,NaN,NaN,NaN,...,565319,7,20,dd0a6e7ae6aa27e6dcb28e777e72f80bf03badb8,0,0,0,0,0,NaN
63,20200806,CT,50245.0,806853.0,NaN,66.0,10920.0,NaN,NaN,NaN,...,857098,0,113,d79a9001214fc39d2f951554a8120b2eea8ff6ee,0,0,0,0,0,NaN
64,20200806,DC,12518.0,193465.0,NaN,98.0,NaN,23.0,NaN,12.0,...,205983,0,0,b0d8dcc3f5b6f521b29449d8396b809603b7d431,0,0,0,0,0,NaN
65,20200806,DE,15365.0,177338.0,NaN,45.0,NaN,15.0,NaN,NaN,...,192703,0,0,2d3387563566ed83961633acb70ae6940f8d906b,0,0,0,0,0,NaN
66,20200806,FL,510389.0,3346974.0,3325.0,7459.0,29515.0,NaN,NaN,NaN,...,3857363,120,559,5133c0415f2ad100e70476139a8b9e436006f4b6,0,0,0,0,0,NaN
67,20200806,GA,204895.0,1519867.0,NaN,3006.0,20002.0,NaN,3647.0,NaN,...,1724762,42,214,2415a57a39209126158d0a46bc9cc2e08923b937,0,0,0,0,0,NaN
68,20200806,GU,397.0,23480.0,NaN,3.0,NaN,NaN,NaN,NaN,...,23877,0,0,53643c2efe301131079f6fbbac7bf30ca0e07324,0,0,0,0,0,NaN
69,20200806,HI,2763.0,132146.0,NaN,83.0,214.0,15.0,NaN,13.0,...,134909,0,6,602ebbe9f1bdaccb796686e755eb363c6b2f1d1b,0,0,0,0,0,NaN
70,20200806,IA,47361.0,455759.0,NaN,237.0,NaN,68.0,NaN,32.0,...,503120,9,0,4d47289d2091705029bbb261108305358e0eb55c,0,0,0,0,0,NaN
71,20200806,ID,22707.0,171886.0,NaN,242.0,931.0,42.0,262.0,NaN,...,194593,7,25,c93b8e106c05daf70e668410bce185f6d64dd6f3,0,0,0,0,0,NaN
72,20200806,IL,189705.0,2749325.0,NaN,1517.0,NaN,346.0,NaN,132.0,...,2939030,21,0,a9c64c6994d704faed7c63ded6caa5b644c40672,0,0,0,0,0,NaN
73,20200806,IN,71015.0,733330.0,NaN,1009.0,9267.0,301.0,1923.0,82.0,...,804345,6,119,9bf36e773e318b92e0ef5a90808989e9e8aa63e0,0,0,0,0,0,NaN
74,20200806,KS,29717.0,279001.0,NaN,358.0,1821.0,78.0,516.0,25.0,...,308718,0,0,676ce44ff8dd4c7b3dde9478c42d3c530221feea,0,0,0,0,0,NaN
75,20200806,KY,33254.0,599190.0,NaN,701.0,3924.0,140.0,1248.0,NaN,...,632444,8,21,9896e4659d8b3ce61330978a96bc158684ec1657,0,0,0,0,0,NaN
76,20200806,LA,127246.0,1357726.0,NaN,1457.0,NaN,NaN,NaN,215.0,...,1484972,50,0,d86e847ba82d344d549a60f0fc12fd74c929b232,0,0,0,0,0,NaN
77,20200806,MA,119874.0,1151344.0,NaN,403.0,12007.0,73.0,NaN,32.0,...,1271218,32,14,52acc0a4a686e2538f7830baf63161492bc94650,0,0,0,0,0,NaN
78,20200806,MD,93005.0,899136.0,NaN,535.0,12978.0,139.0,NaN,NaN,...,992141,15,56,dae19591906f13dabae5dbba6fee487702db6cc8,0,0,0,0,0,NaN
79,20200806,ME,3997.0,176919.0,NaN,11.0,390.0,3.0,NaN,1.0,...,180916,0,0,ceb7e372643ce1bfd4d4386bba434b65611c1a19,0,0,0,0,0,NaN
80,20200806,MI,94656.0,1911922.0,NaN,694.0,NaN,232.0,NaN,132.0,...,2006578,28,0,83205fa0ec1254dd5e3517f4cd7308712d32f282,0,0,0,0,0,NaN
81,20200806,MN,58640.0,840840.0,NaN,319.0,5421.0,153.0,1583.0,NaN,...,899480,7,48,7a14fe34a8cee72e865e51367aa7f32757a4c52c,0,0,0,0,0,NaN
82,20200806,MO,56383.0,685928.0,NaN,966.0,NaN,NaN,NaN,110.0,...,742311,8,0,84b86300e0af2c9c6f4a5b4211d058a042e9e317,0,0,0,0,0,NaN
83,20200806,MP,47.0,12254.0,NaN,NaN,4.0,NaN,NaN,NaN,...,12301,0,0,dc342afed04e1968a9f90be2e4f19cf4c7ddbeac,0,0,0,0,0,NaN
84,20200806,MS,64400.0,418141.0,NaN,1184.0,4511.0,337.0,NaN,193.0,...,482541,21,39,e45ccec535c0130e1b56c1430384c3be57523d5d,0,0,0,0,0,NaN
85,20200806,MT,4602.0,181213.0,NaN,87.0,259.0,NaN,NaN,NaN,...,185815,0,11,025382837c0d2d655d076d801898c0257b1b2aac,0,0,0,0,0,NaN
86,20200806,NC,131267.0,1773483.0,NaN,1147.0,NaN,333.0,NaN,NaN,...,1904750,42,0,356bb1dbfbc093de9b92ad72bbd96919cb933311,0,0,0,0,0,NaN
87,20200806,ND,7177.0,156542.0,NaN,46.0,400.0,NaN,NaN,NaN,...,163719,2,6,9389fff0bffa30d33baace10b2e957e097c54169,0,0,0,0,0,NaN
88,20200806,NE,27489.0,262692.0,NaN,148.0,1681.0,NaN,NaN,NaN,...,290181,3,37,a4611cb191cb7de2961da8e549a3c66ce8980337,0,0,0,0,0,NaN
89,20200806,NH,6719.0,160688.0,NaN,20.0,698.0,NaN,209.0,NaN,...,167407,0,0,487fbbe28ca72136fa37a17e20b0e515993dee47,0,0,0,0,0,NaN
90,20200806,NJ,183701.0,2046544.0,NaN,754.0,21565.0,129.0,NaN,54.0,...,2230245,7,0,8a6e4f761a1738e1d254d4670fc7a7f02d84535a,0,0,0,0,0,NaN
91,20200806,NM,21566.0,575842.0,NaN,138.0,2781.0,NaN,NaN,NaN,...,597408,9,28,b3d52f5529ac9b95e8efbaafb0ae36a12dabfa01,0,0,0,0,0,NaN
92,20200806,NV,53557.0,446638.0,NaN,1117.0,NaN,307.0,NaN,208.0,...,500195,10,0,5ce24b57480363a932d60c977b04649508b4419a,0,0,0,0,0,NaN
93,20200806,NY,418928.0,5879877.0,NaN,570.0,89995.0,132.0,NaN,69.0,...,6298805,6,0,61fe4a0b31a2ad7d7bcca3a65f58130855c11a75,0,0,0,0,0,NaN
94,20200806,OH,97471.0,1500568.0,NaN,979.0,11366.0,342.0,2627.0,182.0,...,1598039,22,135,d3b2fffa64df7db8ab5bb6e77e6369800ab346ad,0,0,0,0,0,NaN
95,20200806,OK,41401.0,633252.0,NaN,643.0,3497.0,216.0,NaN,NaN,...,674653,10,52,507d8bb53e17ae80ca29c0279c78623c87371952,0,0,0,0,0,NaN
96,20200806,OR,20225.0,412037.0,NaN,230.0,1743.0,58.0,NaN,29.0,...,432262,1,17,04e7270762f0b9939f89f7e3f85dc6e8e1d20c2b,0,0,0,0,0,NaN
97,20200806,PA,116521.0,1183730.0,NaN,663.0,NaN,NaN,NaN,98.0,...,1300251,38,0,cae882b531da23af4ef4d22a6995feee3231e17b,0,0,0,0,0,NaN
98,20200806,PR,19934.0,305972.0,NaN,456.0,NaN,76.0,NaN,53.0,...,325906,12,0,56209748ba4529127f294ef4b03d4f3b81072fe3,0,0,0,0,0,NaN
99,20200806,RI,19611.0,196112.0,NaN,83.0,2264.0,11.0,NaN,4.0,...,215723,2,16,79b6a90af33c61f59347f6df8e50fbbde4178d19,0,0,0,0,0,NaN

## Population of states

In [33]:
states = pd.read_excel("/content/NST-EST2023-POP.xlsx")

In [34]:
states.head()

      Unnamed: 0  Unnamed: 1       2020       2021       2022       2023
0  United States   331464948  331526933  332048977  333271411  334914895
1      Northeast    57614141   57430477   57243423   57026847   56983517
2        Midwest    68987296   68969794   68850246   68783028   68909283
3          South   126268529  126465281  127353282  128702030  130125290
4           West    78594982   78661381   78602026   78759506   78896805

In [35]:
states.columns = ['state', '2024', '2020', '2021', '2022', '2023']
states.head()

           state       2024       2020       2021       2022       2023
0  United States  331464948  331526933  332048977  333271411  334914895
1      Northeast   57614141   57430477   57243423   57026847   56983517
2        Midwest   68987296   68969794   68850246   68783028   68909283
3          South  126268529  126465281  127353282  128702030  130125290
4           West   78594982   78661381   78602026   78759506   78896805

In [36]:
states.state.unique().tolist()

['United States',
 'Northeast',
 'Midwest',
 'South',
 'West',
 '.Alabama',
 '.Alaska',
 '.Arizona',
 '.Arkansas',
 '.California',
 '.Colorado',
 '.Connecticut',
 '.Delaware',
 '.District of Columbia',
 '.Florida',
 '.Georgia',
 '.Hawaii',
 '.Idaho',
 '.Illinois',
 '.Indiana',
 '.Iowa',
 '.Kansas',
 '.Kentucky',
 '.Louisiana',
 '.Maine',
 '.Maryland',
 '.Massachusetts',
 '.Michigan',
 '.Minnesota',
 '.Mississippi',
 '.Missouri',
 '.Montana',
 '.Nebraska',
 '.Nevada',
 '.New Hampshire',
 '.New Jersey',
 '.New Mexico',
 '.New York',
 '.North Carolina',
 '.North Dakota',
 '.Ohio',
 '.Oklahoma',
 '.Oregon',
 '.Pennsylvania',
 '.Rhode Island',
 '.South Carolina',
 '.South Dakota',
 '.Tennessee',
 '.Texas',
 '.Utah',
 '.Vermont',
 '.Virginia',
 '.Washington',
 '.West Virginia',
 '.Wisconsin',
 '.Wyoming']

In [37]:
states['state'] = states['state'].map(lambda x: x.lstrip('.'))
states.state.unique().tolist()

['United States',
 'Northeast',
 'Midwest',
 'South',
 'West',
 'Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [38]:
abbr_to_state = {
    "AL": "Alabama", "AK": "Alaska", "AZ": "Arizona", "AR": "Arkansas",
    "CA": "California", "CO": "Colorado", "CT": "Connecticut", "DE": "Delaware",
    "FL": "Florida", "GA": "Georgia", "HI": "Hawaii", "ID": "Idaho",
    "IL": "Illinois", "IN": "Indiana", "IA": "Iowa", "KS": "Kansas",
    "KY": "Kentucky", "LA": "Louisiana", "ME": "Maine", "MD": "Maryland",
    "MA": "Massachusetts", "MI": "Michigan", "MN": "Minnesota", "MS": "Mississippi",
    "MO": "Missouri", "MT": "Montana", "NE": "Nebraska", "NV": "Nevada",
    "NH": "New Hampshire", "NJ": "New Jersey", "NM": "New Mexico", "NY": "New York",
    "NC": "North Carolina", "ND": "North Dakota", "OH": "Ohio", "OK": "Oklahoma",
    "OR": "Oregon", "PA": "Pennsylvania", "RI": "Rhode Island", "SC": "South Carolina",
    "SD": "South Dakota", "TN": "Tennessee", "TX": "Texas", "UT": "Utah",
    "VT": "Vermont", "VA": "Virginia", "WA": "Washington", "WV": "West Virginia",
    "WI": "Wisconsin", "WY": "Wyoming", "AS": "American Samoa"
}

In [39]:
df['PrimaryKey'] = df['state'].map(abbr_to_state)

In [40]:
df.PrimaryKey

0               Alaska
1              Alabama
2             Arkansas
3       American Samoa
4              Arizona
             ...
8692        Washington
8693        Washington
8694        Washington
8695        Washington
8696        Washington
Name: PrimaryKey, Length: 8697, dtype: object

In [41]:
df.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade,PrimaryKey
0,20200807,AK,4288.0,264563.0,NaN,37.0,NaN,NaN,NaN,3.0,...,0,0,d608cee3e98d23a9e920faab4361b771c779880f,0,0,0,0,0,NaN,Alaska
1,20200807,AL,98301.0,651115.0,NaN,1575.0,11537.0,NaN,1219.0,NaN,...,21,224,b180d67ecb2784ceaaaf7fef67dcee5833fadd52,0,0,0,0,0,NaN,Alabama
2,20200807,AR,48039.0,503484.0,NaN,514.0,3168.0,NaN,NaN,111.0,...,6,50,1e9a8ed04dc081a895e26f03a10711ce88d78be2,0,0,0,0,0,NaN,Arkansas
3,20200807,AS,0.0,1396.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,9395052fa25b89c3561068bed6cc6c425623bb9c,0,0,0,0,0,NaN,American Samoa
4,20200807,AZ,185053.0,819792.0,NaN,1772.0,19241.0,565.0,NaN,411.0,...,79,5173,73a278d71ae7e87e4e634538a146339f015d5531,0,0,0,0,0,NaN,Arizona

In [42]:
df.shape

(8697, 42)

In [43]:
states.shape

(56, 6)

In [44]:
states.head()

           state       2024       2020       2021       2022       2023
0  United States  331464948  331526933  332048977  333271411  334914895
1      Northeast   57614141   57430477   57243423   57026847   56983517
2        Midwest   68987296   68969794   68850246   68783028   68909283
3          South  126268529  126465281  127353282  128702030  130125290
4           West   78594982   78661381   78602026   78759506   78896805

In [45]:
first_merge = pd.merge(df, states, left_on='PrimaryKey', right_on='state', how = 'left') #(on the left, right, primary key for left, primary key for right, how i want it to be left)

In [46]:
first_merge.shape

(8697, 48)

In [47]:
first_merge.columns.tolist()

['date',
 'state_x',
 'positive',
 'negative',
 'pending',
 'hospitalizedCurrently',
 'hospitalizedCumulative',
 'inIcuCurrently',
 'inIcuCumulative',
 'onVentilatorCurrently',
 'onVentilatorCumulative',
 'recovered',
 'dataQualityGrade',
 'lastUpdateEt',
 'dateModified',
 'checkTimeEt',
 'death',
 'hospitalized',
 'dateChecked',
 'totalTestsViral',
 'positiveTestsViral',
 'negativeTestsViral',
 'positiveCasesViral',
 'deathConfirmed',
 'deathProbable',
 'fips',
 'positiveIncrease',
 'negativeIncrease',
 'total',
 'totalTestResults',
 'totalTestResultsIncrease',
 'posNeg',
 'deathIncrease',
 'hospitalizedIncrease',
 'hash',
 'commercialScore',
 'negativeRegularScore',
 'negativeScore',
 'positiveScore',
 'score',
 'grade',
 'PrimaryKey',
 'state_y',
 '2024',
 '2020',
 '2021',
 '2022',
 '2023']

In [50]:
outer_merge = pd.merge(df, states, left_on='PrimaryKey', right_on='state', how = 'outer') #outer means that it will give the biggest merge with increaed rows as well now

In [51]:
outer_merge.shape

(8703, 48)

In [53]:
outer_merge[outer_merge.PrimaryKey.isna()]

,date,state_x,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,positiveScore,score,grade,PrimaryKey,state_y,2024,2020,2021,2022,2023
1388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,District of Columbia,689548.0,670839.0,669037.0,670949.0,678972.0
3561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Midwest,68987296.0,68969794.0,68850246.0,68783028.0,68909283.0
5427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Northeast,57614141.0,57430477.0,57243423.0,57026847.0,56983517.0
6210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,South,126268529.0,126465281.0,127353282.0,128702030.0,130125290.0
6835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,United States,331464948.0,331526933.0,332048977.0,333271411.0,334914895.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,20200309.0,DC,1.0,14.0,3.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,20200308.0,DC,1.0,10.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,20200307.0,DC,0.0,8.0,1.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,20200306.0,DC,0.0,8.0,1.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,20200305.0,DC,0.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.concat #concactinate/paste datasets only without